.button {
    font-family: inherit;
    border: 0;
    cursor: pointer;
    line-height: 1;
    /* State=Enabled, Icon=None */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    /* Branding/Secondary */
    border-radius: 4px;
}
.button--primary {
  color: white;
  background-color: #3050F8;
}
.button--secondary {
    color: #333;
    background-color: transparent;
    border: 1px solid #3050F8;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
