.header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--global {
    padding: 15px 10px;
    color: white;
}
  
.header--toolbar {
    padding: 5px 10px;
}

.info-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 10;
  margin-right: 300px;
}

.button-placeholder {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 93, 197);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
  font-weight: 200;
  font-size: 50px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

b + b {
  margin-left: 20px;
}