.input {
    size: 40;
    width: 150px;
    border-radius: 5px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}
.input--default {
    border-style: solid;
    border-color: grey;
}
.input--hover {
    background-color: #F3F9FF;
    border-color: grey;
}
.input--focus {
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-weight: 450;
}
